/* Container */
.epc-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    font-family: Arial, sans-serif;
  }
  
  /* Title */
  .epc-title {
    text-align: center;
    font-size: 28px;
    color: #007bff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* Section Title */
  .section-title {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  /* Card Container */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  /* Cards */
  .epc-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(33% - 20px); /* Responsive layout */
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .epc-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Card Titles */
  .epc-card h4 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  /* Card Text */
  .epc-card p {
    font-size: 16px;
    color: #333;
  }
  
  .glossary-link {
    color: blue;
    text-decoration: none;
    font-size: 0.8em;
    margin-left: 5px;
  }
  
  .glossary-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
<<<<<<< HEAD
=======
  
>>>>>>> 84b1b27d892a63ffe830f249d681a328ad43e64d
