.favouritePageHeader {
    color: #000000;
}

.stylingTitle {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 30px 0;
    color: #2c3e3d;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid #183d25;
    display: inline-block;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-top: #ffffff;
    border-right:  #ffffff;
    border-left:  #ffffff;
  }