.topRatedPropertyCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  cursor: pointer;
}

.topRatedPropertyCard:hover {
  background-color: #f5f5f5; /* Light grey */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* More pronounced shadow */
  transform: translateY(-5px); /* Slight lift effect */
}

.propertyImage img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.propertyDetails {
  display: 'flex';
  align-items: 'center';
  justify-content: 'space-between';
  position: 'relative';
  width: '100%';
}

.propertyDetails h3 {
  margin: 0;
  white-space: 'nowrap';
  overflow: 'hidden';
  text-overflow: 'ellipsis';
}

.propertyDetails p {
  margin: 3px 0;
  font-size: 0.9em;
  color: #666;
}

.stylingTitle {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 30px 0;
  color: #2c3e3d;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid #183d25;
  display: inline-block;
  padding-bottom: 10px;
}

/* Property Grid Styling */
.property-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

