.stylingSearchBar{
  text-align: center;
  padding: 600px;
  background-image: url(../assets/house_bkc.jpg);
  box-shadow: 0,0,0,0.1;
  margin-bottom: 10px;
}

.stylingTitle input[type="text"]{
  width: 60%;
  padding: 10px;
  margin-right: 10px;
  border: 1px;
  border-radius: 4px;
  font-size: 14px;
}


/* Title Styling */
.homePageStyling {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.stylingPropertiesDetails{
  padding: 15px;
  text-align: left;
}

.stylingPropertyImage {
  width: 100%;
  height: auto;
}

.displayingProperties {
  padding: 15px;
  text-align: left;
}

.propertyAddressStyling {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ccc
}

.importantPropertyDetails{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.footer {
  background-color: #2c3e3d;
  color: #fff;
  text-align: left;
  padding: 20px;
  margin-top: 20px;
  font-size: 14px;
}