.language-selector {
    position: relative;
    cursor: pointer;
  }
  
  .flag-img {
    width: 50px; /* Larger size */
    height: 50px;
    border-radius: 3px;
    border: 2px solid #fff;
    transition: transform 0.2s;
  }
  
  .flag-img:hover {
    transform: scale(1.1);
  }
  
  .language-dropdown-menu {
    position: absolute;
    top: 40px; /* Adjust for spacing */
    right: 0;
    background-color: #2c3e3d; /* Dark green background */
    border: 1px solid #1a2524;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  .language-dropdown-menu div {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    color: #d4edda;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .language-dropdown-menu div:hover {
    background-color: #183d25; /* Darker green hover effect */
    color: #ffffff;
  }
  
  .flag-img-dropdown {
    width: 20px;
    height: 15px;
    margin-right: 8px;
  }
  