.privacy-policy-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .privacy-policy-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .privacy-policy-container section {
    margin-bottom: 20px;
  }
  
  .privacy-policy-container h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .privacy-policy-container p {
    color: #555;
  }

  .epc-logo {
    width: 200px;               /* Adjust the width as needed */
    margin: 20px auto;          /* Center the logo horizontally */
    display: block;             /* Ensures the image is treated as a block element */
  }
  