.property-filter {
    min-width: 70%;
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #d5d0d0de;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .filter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-bar {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 10px 10px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .filter-group {
    flex: 1;
    margin-right: 20px;
  }
  
  .filter-group:last-child {
    margin-right: 0;
  }
  
  .filter-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  