.tutorialMenu{
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
}

.navigationSidebar {
    width: 25%;
    background-color: #ffffff;
    border-right: 1px solid;
    padding: 20px;
}

.navigationSidebar h3{
    font-size: 1.0rem;
    margin-bottom: 20px;
    color: #333333
}

.navigationBarElement{
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
}

.navigationBarElement:hover{
    color: #ffffff;
    background-color: #007bff;
}

.navigationBarElement.selected{
    color: #ffffff;
    background-color: #0056b3;
}

.errorMessage{
    color: #ffffff;
    font-size:1.0rem;
    text-align: center;
    margin-top: 20px;
}

.contentView {
    flex: 1;
    padding: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentView h3{
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.contentView p {
    color: #000000;
    font-size: 1.0rem;
    margin-bottom: 10px;
    text-align: center;
}

.tutorialVideos {
    width: 90%;
    background-color: #ffffff;
    border-right: 1px solid;
    padding: 20px;
}

.titleStyle {
    background-color: #ffffff;
    border: 3px solid #000000;
    width: 1100px;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
    text-align: center;
}

.titleStyle h3 {
    font-size: 3rem;
    color: #333333;
    margin: 0;
}

.descriptionStyle {
    white-space: pre-wrap;
    font-size: 3.0rem;
    color: #ff1d1d;
    margin: 20px;
    text-align: center;
}
