.toggle-buttons {
    margin-bottom: 10px;
}

.toggle-buttons button {
    margin-right: 10px;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ddd;
}

.toggle-buttons button.active {
    background-color: #4caf50;
    color: white;
}

.sectionHeader {
    font-size: 1.8rem; /* Large and eye-catching */
    font-weight: bold;
    color: #2c5f2d; /* Darker shade for contrast */
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); /* Light shadow for depth */
    letter-spacing: 1px; /* Slight spacing for readability */
    padding-bottom: 10px;
    border-bottom: 3px solid #2c5f2d; /* Underline effect */
}

.selectMetric{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 10%;
}