.energyInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 3%;
  padding: 20px;
  background-color: #f9f9f9;
  /* Light grey background */
  border-radius: 10px;
  margin-bottom: 150px;
}

.energyHeader {
  grid-column: span 3;
  /* Makes the header span across both columns */
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: -20px;
  color: #2c5f2d; /* Darker shade for contrast */
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); /* Light shadow for depth */
  letter-spacing: 1px; /* Slight spacing for readability */
  padding-bottom: 10px;
  border-bottom: 3px solid #2c5f2d; /* Underline effect */
}

.energyBox {
  background: white;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.heating {
  grid-row: span 2;
  /* Makes heating section take full height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lighting,
.hotWater {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 2;

}

.sectionHeader {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.6rem; /* Large and eye-catching */
  font-weight: bold;
  color: #2c5f2d; /* Darker shade for contrast */
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); /* Light shadow for depth */
  letter-spacing: 1px; /* Slight spacing for readability */
  padding-bottom: 10px;
}



.progressBase,
.hotWaterSummary {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin-left: 50px;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  gap: 10px;
  margin-top: 20px;
}

.progressContainer {
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 70%;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.progressContainer p {
  font-size: 30px;
  font-weight: bold;
}

.progressContainer progress {
  width: 75%;
  border-radius: 15px;
}

.progressBase .lightingStarRating{
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 70%;
  margin-left: 60px;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  gap: 10px;
  margin-top: 20px;
  margin-right: 20px;
}

.progressDescription,
.hotWaterDescriptionsSection {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50%;
  margin-left: 50px;
  margin-right: 50px;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  gap: 10px;
  margin-top: 0px;
}

.mainFuelSection {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 50%;
  margin-left: 50px;
  background-color:rgb(225, 225, 225);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.energyStarRatings{
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 50%;
  margin-left: 50px;
  margin-right: 50px;
  background-color:rgb(225, 225, 225);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.energyStarRatings h4 {
  margin-top: 1px;
}

.energyStarRatings p{
  margin-bottom: 1px;
}

.equipmentExamples {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 30%;
  margin-left: 20px;
  margin-right: 20px;
  background-color:rgb(225, 225, 225);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.heatingEquipmentTable{
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  background-color:rgb(225, 225, 225);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.heatingEquipmentTable .heatingIcons td{
  text-align: center;
  border: none;
}

.heatingEquipmentTable .heatingIcons img{
  width: 30px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.hotWaterSummary .hotWaterStarRating{
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 70%;
  margin-left: 60px;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  gap: 10px;
  margin-top: 20px;
  margin-right: 20px;
}

.heatingSummary {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 30%;
  margin-left: 60px;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  gap: 10px;
  margin-right: 20px;
}