.epcContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9; /* Light grey for a fresh look */
    padding: 15px 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow:  0 4px 12px rgba(0, 0, 0, 0.2) !important;/* Soft shadow */
    border: 1px solid #ddd; /* Light border for structure */
    font-family: 'Arial', sans-serif; /* Clean font */
    margin-top: 1%;
    width: 95%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.box {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.box p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .boldText {
    font-weight: bold;
  }