.progress-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    height: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}

.dial-container {
    text-align: center;
    margin-top: 10px;
}

.progress-text {
    font-weight: bold;
    margin-top: 5px;
}
