.dial-container {
    display: flex;
    width: 100%;
    background-color: #eee;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    height: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
.svg {
    display: block;
}
  
.progress-text {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.path {
    transition: stroke 0.5s ease-in-out;
}

.line {
    transition: transform 0.5s ease-in-out, stroke 0.5s ease-in-out;
}
  