.checklist-header h1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 5px;
    border: 1px solid #8b4513;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #D2B48C;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
  }
  
  .checklist-main{
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  }

  .checklist-main::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 45%;
    width: 60px;
    height: 20px;
    background-color: #4f2400;
    border: 2px solid #8b4513;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }

  .checklist-grouping{
    background-color: #f5f5f5;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    position: relative;
    border: 2px solid #8b4513;
    border-radius: 10px;
  }

  .checklist-groups h2{
    font-size: 1.25rem;
    text-align: left;
    color: #000000;
    font-style: italic;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #8b4513;
  }

  .categories-icon{
    width: 30px;
    height: 30px;
    margin-right: 12px;
    vertical-align: middle;
  }

p{
    font-size: 12;
    text-align: center;
    margin-bottom: 20px;
    color: #2f2626;
    padding-bottom: 10px;
}

ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

  .checklist-individualItem {
    width: 95%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #d2b48c;
    border-radius: 5px;
    text-align: left;
    transition: background-color 0.3s, border 0.2s;
  }
  
  .checklist-selectedItem {
    border: 2px solid #4b2e07;
    background-color: #ffe4b5;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .checklist-individualItem:hover {
    background-color: #f5deb3;
    border: 2px solid #8b4513;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  label {
    font-size: 0.9em;
    color: #4b2e07;
    cursor: pointer;
  }

  input[type='checkbox'] {
    margin-right: 10px;
    transform: scale(1.1);
  }  

.downloadButton {
    display: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #8b4513;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
  }
  
.downloadButton:hover {
    background-color: #a0522d;
}

.downloadButton:active {
    background-color: #8b4513;
    transform: scale(0.95)
}