.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .info-icon {
    background-color: #6c757d;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 0.9rem;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .tooltip-message {
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0a2e15;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 0.85rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .tooltip-message::after {
    content: '';
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #0a2e15 transparent transparent transparent; 
  }