.tutorials-base {
  padding: 60px 20px;
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
  min-height: calc(80vh - 200px);
}

.tutorials-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #2c3e3d;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid #183d25;
  display: inline-block;
  padding-bottom: 10px;
}

.tutorials-subtitle {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 40px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  opacity: 0.85;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.back-to-menu {
  font-size: 16px;
  padding: 12px 18px;
}

.back-to-menu:hover {
  background: #009a03;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.back-to-menu:active {
  transform: scale(0.98);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.faq.options-header {
  max-width: 800px;
}

.tutorialGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  padding: 20px;
  max-width: 1800px;
  margin: 0 auto;
}

.tutorialCard {
  position: relative;
  width: 100%;
  height: 305px;
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}


.tutorialCard:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.tutorialCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  z-index: 1;
}

.tutorialCard:hover::after {
  background: rgba(0, 0, 0, 0.6);
}

.tutorial-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 0 10px;
  text-decoration: underline;
}

.tutorialCard:hover .tutorial-title {
  opacity: 1;
}

.tutorial-watch-base {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  bottom: 0;
  left: 0;
}

.tutorial-watch {
  background-color: transparent;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 1.3rem;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
  pointer-events: auto;
}

.tutorialCard:hover .tutorial-watch {
  opacity: 1;
  transform: translateY(-8px);
}