.action-popup-base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.action-popup-container {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: absolute;
}

.action-popup-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}

.action-popup-message-content {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: black;
}

.action-popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.action-submit-popup-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background: #007aff;
  color: white;
}

.action-cancel-popup-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background: #d9534f;
  color: white;
}

.action-popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}