.input-popup-base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.input-popup-container {
  background: white;
  width: 80%;
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: absolute;
}

.input-popup-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}

.input-popup-title:hover {
  background-color: #ffffff;
}

.input-popup-message {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: black;
}

.input-popup-method-inputs {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 1.1rem;
}

.input-popup-method-inputs label {
  font-weight: bold;
  font-size: 1.1rem;
}

.input-popup-user-input {
  width: 95%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.input-popup-buttons {
  display: flex;
  justify-content: space-between;
}

.input-submit-popup-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  background: #007aff;
  color: white;
}

.input-cancel-popup-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  background: #d9534f;
  color: white;
}

.input-popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}