.starBase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Possibly width: 100%; */
    position: relative; /* Only if you want to absolutely position something inside */
  }
  .starComponent {
    font-size: 2rem;
    cursor: pointer;
    margin-left: 5px;
    /* Remove position: absolute */
  }
  
.starComponent.gold {
    color: gold;
}

.starComponent.grey {
    color: gray;
}

.heart-icon {
  font-size: 24px; /* Adjust size */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Filled and outline heart icons */

.heart-emoji {
  display: inline-flex; /* Ensures it stays in the same line */
  vertical-align: middle; /* Aligns it with text */
  
  font-size: 24px; /* Adjust size */
  cursor: pointer;
}

.heart-emoji:hover {
  transform: scale(1.2); /* Slight zoom on hover */
}

.starBase {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 200, 200, 0.3); /* Light pink background */
  border-radius: 50%; /* Makes it circular */
  transition: background-color 0.3s;
}

.starBase:hover {
  background-color: rgba(255, 200, 200, 0.5); /* Darker pink on hover */
}
