.starBase {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.starComponent {
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 5px;
    right: 10px;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
}

.PropertyList .starComponent {
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 5px;
    right: 10px;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
}

.PropertyPage .starComponent {
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 5px;
    right: 10px;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
}

.TopRatedPropertyCard .starComponent {
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 5px;
    right: 10px;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
}

.starComponent.gold {
    color: gold;
}

.starComponent.grey {
    color: gray;
}