.starBase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Possibly width: 100%; */
    position: relative; /* Only if you want to absolutely position something inside */
  }
  .starComponent {
    font-size: 2rem;
    cursor: pointer;
    margin-left: 5px;
    /* Remove position: absolute */
  }
  
.starComponent.gold {
    color: gold;
}

.starComponent.grey {
    color: gray;
}