.baseStyling {
    padding: 20px;
}

.searchAddress {
    width: 100%;
    color: #000000;
    font-size: 15px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.searchInput {
    width: 100%;
    max-width: 300px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}

.propertyTypeFilter, .ratingLetterFilter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

.propertyTypeFilter label, .ratingLetterFilter label {
    width: 100%; /* Enforce consistent width */
    max-width: 280px;
    display: flex;
    align-items: center;
    gap: 10px; /* Space between checkbox and label */
    text-align: left;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

select, input[type="number"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    all: unset;
}

