/* General Property Page Styling */
.property-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Header Styling */
.property-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.property-title {
  margin: 0;
}

.property-header h3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.send-to-group-btn {
  background-color: #2c5f2d; /* Dark green */
  color: white;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: block;
  margin: 15px auto;
}

.send-to-group-btn:hover {
  background-color: #1e4020;
  transform: scale(1.05);
}

/* Favorite Star Component */
.starComponent {
  display: inline-flex; 
  justify-content: space-between;
  width: 100%;
  margin-left: 6px;
  vertical-align: middle;
}

/* Image and Map Section */
.image-and-map-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Street View and Map View */
.street-view,
.map-view {
  flex: 1;
  height: 1000px;
}

.street-view {
  margin-right: 20px;
}

.street-view img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* EPC Graph Section */
.epc-graph-section {
  margin-top: 40px;
  text-align: center;
}
