.property-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .property-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .property-title {
    margin: 0;
  }
  
  .image-and-map-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .street-view,
  .map-view {
    flex: 1;
    height: 400px;
  }
  
  .street-view {
    margin-right: 20px;
  }
  
  .street-view img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .epc-graph-section {
    margin-top: 40px;
    text-align: center;
  }
  