/* General Property Page Styling */
.property-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Header Styling */
.property-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.property-title {
  margin: 0;
}

.property-header h3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Favorite Star Component */
.starComponent {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 6px;
  vertical-align: middle;
}

/* Image and Map Section */
.image-and-map-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: -450px;
}

/* Street View and Map View */
.street-view,
.map-view {
  flex: 1;
  height: 1000px;
}

.street-view {
  margin-right: 20px;
  height: 485px;
}

.street-view img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* EPC Graph Section */
.epc-graph-section {
  margin-top: 40px;
  text-align: center;
}

.title-street-view {
  margin-top: 30px;
  margin-bottom: 20px;
}

.title-map-view {
  margin-top: 30px;
  margin-bottom: -10px;
}