
  .street-view-error {
    color: red; /* Optional: Style error messages to make them noticeable. */
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
  }
  
  .street-view-loading {
    font-size: 1rem; /* Optional: Style the loading text. */
    text-align: center;
    margin-top: 10px;
  }

<<<<<<< HEAD
/* 📌 Mobile-Friendly */
@media screen and (max-width: 900px) {
  .street-view {
      height: 400px;
      width: 100%;
  }
}
=======
>>>>>>> c0067f2535c4786524098e01579e49beffe8898e
