/* Container for the register form */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  position: relative; /* Ensure the pseudo-element is positioned correctly */
  z-index: 1;
  overflow: hidden;
}

.register-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 30% black overlay */
  z-index: 0; /* Positioned behind the content */
}

.register-form {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  z-index: 1; /* Ensure the form is above the overlay */
  position: relative; /* Ensure the form stays above the overlay */
}

.register-title {
  color: #0a2e15;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #0a2e15;
}

.register-button {
  background-color: #0a2e15;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.register-button:hover {
  background-color: #183d25;
}

.register-message {
  margin-top: 15px;
  color: #333;
  text-align: center;
}

.form-label {
  margin-bottom: 5px;
  color: #0a2e15;
  font-weight: bold;
}

  
  
  
  
  