.topRatedPropertyCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  cursor: pointer;
}

.topRatedPropertyCard:hover {
  background-color: #f5f5f5; /* Light grey */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* More pronounced shadow */
  transform: translateY(-5px); /* Slight lift effect */
}

.propertyImage img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.propertyDetails {
  text-align: center;
  margin-top: 10px;
}

.propertyDetails h3 {
  margin: 5px 0;
  font-size: 1.2em;
  color: #333;
}

.propertyDetails p {
  margin: 3px 0;
  font-size: 0.9em;
  color: #666;
}
