.topRatedPropertyCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  cursor: pointer;
}

.topRatedPropertyCard:hover {
  background-color: #f5f5f5; /* Light grey */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* More pronounced shadow */
  transform: translateY(-5px); /* Slight lift effect */
}

.propertyDetails {
  text-align: center;
  width: 100%;
}

.propertyHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.propertyTitle {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  width: 100%;
}

.propertyPostcode {
  font-size: 6rem;
  text-align: center;
  margin-top: 20px;
}

.summaryPropertyDetails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.summaryDetails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
}

.property-title {
  font-weight: bold;
  padding: 8px;
}

.property-value {
  padding: 15px;
}
